.music_control {
  position: fixed;
  bottom: 0px;
  background-color: rgba(24, 24, 24, 1);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 70px;
  align-items: center;
  .music{
    display: flex;
  }
}
